body,
html,
div,
#app{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

h1,h2,h3,h4{
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
}
